form {
    max-width: 400px;
    margin: auto;
    /* After giving max-width and margin: auto the content will come to the center automatically */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form div {
    margin-bottom: 10px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}


form input[type="text"],
form input[type="email"],
form input[type="date"],
form textarea,
form input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

form input[type="radio"] {
    margin: 0px 10px;
}

form button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button[type="submit"]:hover {
    background-color: #01e20c;
}

form button.disabled-button {
    cursor: not-allowed;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

p {
    text-align: center;
    margin-top: 10px;
}

.invalid {
    color: red;
    font-weight: bold;
    font-size: 15px;
}