<div>
    <div>
        <h2 class="text-center">My Order History</h2>
    </div>
    <div class="order-container">
        <table>
            <thead>
                <tr>
                    <th>Serial</th>
                    <th>Order ID</th>
                    <th>Price</th>
                    <th>Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <ng-container *ngFor="let order of orderHistory; index as idx">
                <tr>
                    <td> {{ idx+1 }}</td>
                    <td>{{ order.orderID}}</td>
                    <td> {{  order.payableCost | currency:'BDT':'symbol':'1.0-0' }}</td>
                    <td>{{ formatDate(order.orderDate) }}</td>
                    <td>
                        <button (click)="showOrderDetails(order.orderID)">
                            View Details
                        </button>
                    </td>
                </tr>
            </ng-container>
          </table>
    </div>
</div>
