<div class="main-container">
    <div class="header">
        <h1 class="text">Products</h1>
        <div class="sort"> 
            <app-single-filter [sortingOptions]="sortingOptions" [placeholder]="'Sort By'" (selectedSortOption)="sortOptionsSelected($event)"></app-single-filter>
        </div>
    </div>
    <hr/>
    <div class="product-container">
        <div class="filters">
            <h2>Filters</h2>
            <app-single-filter [sortingOptions]="sortingOptions" [placeholder]="'Colors'" (selectedSortOption)="sortOptionsSelected($event)"></app-single-filter>
            <app-single-filter [sortingOptions]="sortingOptions" [placeholder]="'Size'"></app-single-filter>
            <app-single-filter [sortingOptions]="sortingOptions" [placeholder]="'Price'"></app-single-filter>
            <app-single-filter [sortingOptions]="sortingOptions" [placeholder]="'Availability'"></app-single-filter>
        </div>
        <div class="products">
            <div class="product" *ngFor="let item of products[0]">
                <div *ngIf="item.discountPercent" class="discount-box">
                    {{ item.discountPercent }}% OFF
                </div>
                <div class="product-image">
                    <img [src]="item.imageUrl" alt="Product Image">
                </div>
                <div class="product-details">
                    <h2 class="product-title">{{ item.title }}</h2>
                    <p class="product-brand">Brand: {{ item.brand }}</p>
                    <p class="product-price">$ {{ item.price }}</p>
                    <button class="btn btn-primary">Add to Cart</button>
                </div>
            </div>
        </div>
    </div>
</div>
