<div class="main-container">
    <div class="header">
        <h1 class="text">Products</h1>
        <div class="sort"> 
            <app-single-filter-show [sortingOptions]="genderOptions" [placeholder]="'Gender'" (selectedSortOptionEvent)="onGenderSelection($event)"></app-single-filter-show>
        </div>
    </div>
    <hr/>
    <div class="product-container">
        <div class="filters">
            <div>
                <h2>Filters</h2>
                <hr/>
                <app-single-filter-show [sortingOptions]="colorOptions" [placeholder]="'Colors'" (selectedSortOptionEvent)="onColorSelection($event)"></app-single-filter-show>
                <app-single-filter-show [sortingOptions]="sizesOptions" [placeholder]="'Size'" (selectedSortOptionEvent)="onSizeSelect($event)"></app-single-filter-show>
                <app-single-filter-show [sortingOptions]="priceOptions" [placeholder]="'Price'" (selectedSortOptionEvent)="onPriceSelect($event)"></app-single-filter-show>
                <app-single-filter-show [sortingOptions]="discountOptions" [placeholder]="'Discount'" (selectedSortOptionEvent)="onDiscountSelect($event)"></app-single-filter-show>
                <app-single-filter-show [sortingOptions]="brandOptions" [placeholder]="'Brand'" (selectedSortOptionEvent)="onDiscountSelect($event)"></app-single-filter-show>
    
            </div>
        </div>
        <div class="products">
            <div class="product" *ngFor="let item of products">
                <div (click)="showProductDetails(item)">
                    <div *ngIf="item.Discount > 0" class="discount-box">
                        {{ item.Discount }}% OFF
                    </div>
                    <div class="product-image">
                        <img [src]="item.ImageURL" alt="Product Image">
                    </div>
                    <div class="product-details">
                        <h2 class="product-title">{{ item.Name }}</h2>
                        <p class="product-brand">Brand: {{ item.Brand }}</p>
                        <p class="product-price">$ {{ item.Price }}</p>
                        <button class="btn btn-primary">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
