<div class="main-container">
    <div class="first-container">
        <div class="text">
            Products
        </div>
        <div class="sort"> 
            <app-single-filter [sortingOptions]="sortingOptions" [placeholder]="'Sort By'" (selectedSortOption)="sortOptionsSelected($event)"></app-single-filter>
        </div>
    </div>
    <hr/>
    <div class="second-container">
        <div class="left-side">
            <h2>Filters</h2>
            <app-single-filter [sortingOptions]="sortingOptions" [placeholder]="'Sort By Colors'" (selectedSortOption)="sortOptionsSelected($event)"></app-single-filter>

            <app-single-filter [sortingOptions]="sortingOptions" [placeholder]="'Sort By Price'"></app-single-filter>

            <app-single-filter [sortingOptions]="sortingOptions" [placeholder]="'Availability'"></app-single-filter>

            <app-single-filter [sortingOptions]="sortingOptions" [placeholder]="'Sort By Discount'"></app-single-filter>
        </div>
        <div class="right-side">
            <h2>Products</h2>
        </div>
    </div>
</div>