<div class="address-container">
    <form [formGroup]="addProductForm" (ngSubmit)="productDetailsSubmitted()">
        <div>
            <label>Product Name</label>
            <input type="text" id="name" formControlName="Name" required>
        </div>
        <div>
            <label for="category">Category</label>
            <input type="text" id="category" formControlName="Category" required>
        </div>
        <div>
            <label for="categoryID">Category ID</label>
            <input type="text" id="categoryID" formControlName="CategoryID" required>
        </div>
        <div>
            <label for="brand">Brand Name</label>
            <input type="text" id="brand" formControlName="Brand" required>
        </div>
        <div>
            <label for="price">Price</label>
            <input type="text" id="price" formControlName="Price" required>
        </div>
        <div>
            <label for="discount">Discount</label>
            <input type="text" id="discount" formControlName="Discount" required>
        </div>
        <div>
            <label for="gender">Gender</label>
            <select formControlName="Gender" required>
                <option value="">Select Gender</option>
                <option *ngFor="let genderOption of genderOptions" [value]="genderOption">{{ genderOption }}</option>
              </select>
        </div>
        <div formArrayName="sizes" *ngFor="let size of addProductForm.get('sizes')['controls']; let i = index">
            <div [formGroupName]="i">
                <div class="size flex justify-between flex-wrap">
                    <div>
                        <label for="size">Size</label>
                        <select 
                            id="size" 
                            formControlName="Name" 
                            (change)="insertSizeColorPair(i)"
                            required>
                            <option value="">Select Size</option>
                            <option 
                                *ngFor="let sizeOption of sizesOptions" 
                                [value]="sizeOption"
                                [disabled]="isSizeColorPairSelected(sizeOption, getColorControl(i).value)"
                                >{{ sizeOption }}</option>
                        </select>
                    </div>
                    <div>
                        <label for="color">Color</label>
                        <select 
                            id="color" 
                            formControlName="Color" 
                            (change)="insertSizeColorPair(i)"
                            required>
                            <option value="">Select Color</option>
                            <option 
                                *ngFor="let colorOption of colorOptions" 
                                [value]="colorOption"
                                [disabled]="isSizeColorPairSelected(getSizeControl(i).value, colorOption)"
                                >{{ colorOption }}</option>
                        </select>
                    </div>
                    <div>
                        <label for="quantity">Quantity</label>
                        <input type="text" id="quantity" formControlName="Quantity" required>
                    </div>
                    <div>
                        <button type="button" (click)="removeSizeField(i)">Remove</button>
                    </div>
                </div>
            </div>
          </div>
          <div class="flex">
            <div class="add-field">
                <button type="button" (click)="addSizeField()">Add More</button>
            </div>
          </div>
          <div>
            <label for="image">Image</label>
            <input type="text" id="image" formControlName="ImageURL">
          </div>
          <!-- <div>
            <label for="image">Image</label>
            <input type="file" id="image" (change)="onImageChange($event)" formControlName="ImageURL">
          </div> -->
          <!-- <div *ngIf="selectedImage">
            <img [src]="selectedImage" alt="Selected Image">
          </div>
          <div>
            <img [src]="this.addProductForm.get('ImageURL').value">
          </div> -->
          <div>
            <label for="description">Product Description</label>
            <textarea formControlName="Description" required></textarea>
          </div>
        <div>
            <button type="submit" *ngIf="isUpdated === false">Add Product</button>
            <button type="submit" *ngIf="isUpdated === true">Update Product</button>
        </div>
    </form>
</div>