.footer-container {
    background-color: black;
    color: white;
    padding: 20px 0px;
    text-align: center;
}

.upper-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.logo {
    width: 150px;
    height: auto;
    border-radius: 5px;
}

.sections {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    margin-left: 20px;
}

.section {
    flex: 1;
    margin: 0 10px;
}

.section-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.section ul {
    list-style-type: none;
    padding: 0;
}

.section ul li {
    margin-bottom: 5px;
}

.bottom-conatiner {
    margin-top: 20px;
    font-size: 14px;
}