* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.product-container {
    display: flex;
    margin: 30px;
}

.product-image {
    flex: 0 0 auto;
    margin-right: 20px;
}

.product-image img {
    width: 400px;
    height: auto;
}
.description {
    flex: 1;
    margin-right: 20px;
}

.product-description p {
    margin-bottom: 10px;
}

.price {
    margin-top: 10px;
    font-weight: bold;
}

.cart-button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.customer-comments {
    margin: 30px;
}

.comment {
    display: flex;
    margin-bottom: 20px;
}

.comment-img {
    flex: 0 0 auto;
    margin-right: 10px;
}

.comment-img img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.comment-input input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.comment-list {
    border-top: 1px solid #ccc;
    padding-top: 20px;
}

.comment-item {
    display: flex;
    margin-bottom: 20px;
}

.comment-text p {
    margin-bottom: 5px;
}

.product-loader {
    /* background-color: gray; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    width: 50px;
    aspect-ratio: 1;
    display: grid;
}

.loader::before,
.loader::after {    
    content:"";
    grid-area: 1/1;
    --c:no-repeat radial-gradient(farthest-side,#25b09b 92%,#0000);
    background: 
        var(--c) 50%  0, 
        var(--c) 50%  100%, 
        var(--c) 100% 50%, 
        var(--c) 0    50%;
    background-size: 12px 12px;
    animation: l12 1s infinite;
}

.loader::before {
    margin: 4px;
    filter: hue-rotate(45deg);
    background-size: 8px 8px;
    animation-timing-function: linear
}

@keyframes l12 { 
    100%{transform: rotate(.5turn)}
}

.color {
    background-color: orange;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 3px;
    font-weight: 500;
}

.size input, .colors input {
    margin-left: 10px;
}

.quantity-control {
    display: flex;
    align-items: center;
}

.quantity-control input {
    width: 50px;
    text-align: center;
}

.quantity-control button {
    width: 30px;
    height: 30px;
    font-size: 20px;
    font-weight: 600;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 50%;
    background-color: gray;
}

.quantity-control button:hover {
    background-color: #ddd;
}

.discount {
    color: orange;
}

del {
    color: black;
}

.undo-selection button {
    width: 150px;
    background-color: skyblue;
    padding: 5px;
    border-radius: 3px;
}

.undo-selection button:hover {
    background-color: #25b09b;
}