<div class="product-loader" *ngIf="!product">
    <div class="loader-loader">
        <div class="loader"></div>
    </div>
</div>
<div *ngIf="product">
    <div class="product-container">
        <div *ngIf="!product">
            <div class="loader"></div>
        </div>
        <div class="product-image">
            <img [src]="product.ImageURL" [alt]="product.Name">
        </div>
        <div class="description">
            <h1>{{ product.Name }}</h1>
            <h2>Brand Name: {{product.Brand}}</h2>
            <p class="font-bold">Available: Yes</p>
            <p class="font-bold">Available Colors</p>
            <div class="flex justify-between flex-wrap">
                <div class="colors flex flex-wrap">
                    <div *ngFor="let clr of colors">
                        <input type="radio" name="color" [value]="clr" [(ngModel)]="color" (change)="onColorChange(clr)"> {{ clr }}
                    </div>
                </div>
            </div>
            <p class="font-bold">Size</p>
            <div class="flex justify-between flex-wrap">
                <div class="size flex flex-wrap">
                    <div *ngFor="let size of sizes">
                        <input type="radio" name="size" [value]="size" [(ngModel)]="selectedSize" (change)="onSizeChange(size)"> {{ size }}
                    </div>
                </div>
            </div>
            <div class="undo-selection flex flex-row-reverse" *ngIf="color != '' || selectedSize != ''">
                <button (click)="undoSelection()">Undo Selection</button>
            </div>
            <div class="cart-item-quantitty flex">
                <div class="text-2xl font-bold">Quantity: </div>
                <div class="quantity-control mr-5">
                    <button class="decrement" 
                        [disabled]="productQuantity <= 0"
                        (click)="decrementQuantity()"    
                    >-</button>
                    <input type="text" class="quantity" [(ngModel)]="productQuantity">
                    <button 
                        class="increment"
                        (click)="incrementQuantity()"
                    >+</button>
                </div>
            </div>
            <div class="product-description">
                <p class="text-lg font-semibold">Product Description:</p>
                <p>
                    {{ product.Description }}
                </p>
            </div>
            <hr>
            <div class="price" *ngIf="!product.Discount || product.Discount == 0"> {{ product.Price }} BDT </div>
            <div class="price discount" *ngIf="product.Discount">
                <del> {{ product.Price }} BDT</del> {{ discountedPrice }} BDT ({{ product.Discount }}% OFF)
            </div>
            <ng-container *ngIf="!isAdminLoggedIn">
                <button class="cart-button" (click)="addToCart()">Add to Cart</button>
            </ng-container>
            <ng-container *ngIf="isAdminLoggedIn">
                <button class="cart-button" (click)="removeProduct()">Remove Product</button>
            </ng-container>
        </div>
    </div>
    
    <div class="customer-comments">
        <div class="comment">
            <div class="comment-img">
                <img src="https://static.vecteezy.com/system/resources/previews/024/183/502/original/male-avatar-portrait-of-a-young-man-with-a-beard-illustration-of-male-character-in-modern-color-style-vector.jpg" alt="User Avatar">
            </div>
            <div class="comment-input">
                <input type="text" placeholder="Add a Comment">
            </div>
        </div>
        <div class="comment-list">
            <div class="comment-item">
                <div class="comment-img">
                    <img src="https://static.vecteezy.com/system/resources/previews/024/183/502/original/male-avatar-portrait-of-a-young-man-with-a-beard-illustration-of-male-character-in-modern-color-style-vector.jpg" alt="User Avatar">
                </div>
                <div class="comment-text">
                    <p>{{ product.Description }}</p>
                </div>
            </div>
        </div>
    </div>
</div>