<div class="w-full">
    <div class="shadow-lg p-6 content">
        <div class="container">
            <div class="flex flex-col" *ngFor="let item of catergory[selectedCategory].sections">
                <h5 class="text-center"> {{ item.name }}</h5>
                <div class="button flex flex-col" *ngFor="let subItem of item.items">
                    <button type="button" class="btn-css">
                        {{ subItem.name }}
                    </button>
                </div>
            </div>
            <div class="hidden lg:block">
                <div class="mb-5">
                    <img src="https://fabrilife.com/products/6382186056854-square.jpg" alt="New Arrival">
                    <p>New Arrival</p>
                </div>
            </div>
        </div>
    </div>
</div>