<div class="cart-item-container">
    <div class="item-container">
        <div class="cart-image">
            <img [src]="productdetails.ImageURL" [alt]="productdetails.Name">
        </div>
        <div class="cart-item-details">
            <p class="product-name">{{productdetails.Name}}</p>
            <p class="product-brand">Brand: {{productdetails.Brand}}</p>
            <p class="product-size">Size: {{cartItem.Size}}</p>
            <p class="product-color">Color: {{cartItem.Color}}</p>
            <p class="product-quantity">Quantity: {{productQuantity}}</p>
        </div>
        <div class="calculation ml-6">
            <p>Total Price: {{productQuantity}} x {{productdetails.Price}} BDT</p>
            <p class="text-right">: {{totalPrice}} BDT</p>
            <p class="text-right">Discount: {{discountedPrice}} BDT</p>
            <hr/>
            <p class="text-right">Ultimate Price: {{ultimatePrice}} BDT</p>
        </div>
    </div>
    <div class="cart-item-quantitty flex justify-between">
        <div class="quantity-control">
            <button class="decrement" 
                [disabled]="productQuantity <= 0"
                (click)="decrementQuantity()"    
            >-</button>
            <input type="text" class="quantity" [(ngModel)]="productQuantity">
            <button 
                class="increment"
                (click)="incrementQuantity()"
            >+</button>
        </div>
        <div class="add-another-button">
            <button type="submit" (click)="addAnotherOne()">Add another one</button>
        </div>
        <div class="remove">
            <button type="submit">Remove</button>
        </div>
    </div>
</div>
