<div class="p-5 lg:px-20 lg:py-10">
  <div class="flex justify-between">
    <p class="title"> {{ title }} </p>
    <p class="see-more"><button (click)="buttonClicked()">See more</button></p>
  </div>

    <div class="box">
        <p-carousel
          [value]="products"
          [numVisible]="4"
          [numScroll]="3"
          [circular]="false"
          [responsiveOptions]="responsiveOptions"
        >
          <ng-template let-product pTemplate="item">
            <app-home-product-card [product]="product"></app-home-product-card>
          </ng-template>
        </p-carousel>
      </div>
    <!-- <div class="products-container">
        <ng-container *ngFor="let item of products">
            <app-home-product-card [product]="item"></app-home-product-card>
        </ng-container>
    </div> -->
</div>