.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  
  .carousel-container {
    width: 100%;
  }
  
  .carousel-slide {
    display: flex;
    justify-content: center;
  }
  
  .carousel-item {
    flex: 0 0 100%;
  }
  
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }