<div>
    <div>
        <h2 class="text-center">Products Table (Admin)</h2>
    </div>
    <div class="product-container">
        <table>
            <thead>
                <tr>
                    <th>SL</th>
                    <th>Product ID</th>
                    <th>Product Name</th>
                    <th>Product Brand</th>
                    <th>Category</th>
                    <th>Product Price</th>
                    <th>View Details</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <ng-container *ngFor="let product of products; index as idx">
                <tr>
                    <td>{{ idx }}</td>
                    <td> {{ product.ID }}</td>
                    <td> {{ product.Name }} </td>
                    <td> {{ product.Brand }} </td>
                    <td> {{ product.Category }} </td>
                    <td> {{ product.Price }} BDT </td>
                    <td>
                        <button (click)="viewProductDetails(product)">
                            View Details
                        </button>
                    </td>
                    <td>
                        <button>
                            Remove Products
                        </button>
                    </td>
                </tr>
            </ng-container>
          </table>
    </div>
</div>