table {
    /* margin: 20px; */
    border-collapse: collapse;
    width: 100%;
    border-spacing: 0;
}

th, td {
    padding: 12px 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

thead th {
    background-color: #f0f0f0;
    font-weight: bold;
    color: #333;
}

tr:hover {
    background-color: rgb(68, 63, 63);
    color: white;
}

img {
    width: 70px;
    height: auto;
}

.calculation {
    margin: 20px 0px;
    align-content: center;
    width: 20%;
    height: 400px;
    padding: 20px;
    background-color: rgb(54, 53, 53);
    color: white;
    box-shadow: 10px 10px 30px rgb(14, 13, 13);
    border-radius: 5px;
}

.cart-list app-cart-item {
    margin-bottom: 20px;
}

.calculation button {
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
    border-radius: 5px;
    width: 100%;
    height: auto;
    background-color: green;
}

.filters {
    margin-bottom: 20px;
}
  
.filters label {
    font-weight: bold;
}

div select {
    height: 50px;
}

button {
    padding: 8px 16px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
tr:hover {
    background-color: rgb(68, 63, 63);
    color: white;
}

button:hover {
    background-color: orange;
}